<a href="https://colab.research.google.com/github/D-Soto/Coco/blob/main/SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from sqlalchemy import create_engine

In [ ]:
school = pd.read_csv('/content/drive/My Drive/DS/data/School Details.csv')
school.head(2)

  DistrictName EstablishmentCode  ... HighestClass BoardName
0         East             S0169  ...      Class 5       NaN
1         East             S0099  ...     Class 12  C.B.S.E.

[2 rows x 30 columns]

In [ ]:
engine = create_engine('sqlite:///school.db', echo=True)
conn = engine.connect()

2021-01-27 19:40:16,587 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2021-01-27 19:40:16,590 INFO sqlalchemy.engine.base.Engine ()
2021-01-27 19:40:16,592 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2021-01-27 19:40:16,597 INFO sqlalchemy.engine.base.Engine ()

In [ ]:
sqlite_table = "school_details"
school.to_sql(sqlite_table, conn, if_exists='fail')

2021-01-27 19:52:11,969 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("school_details")
2021-01-27 19:52:11,971 INFO sqlalchemy.engine.base.Engine ()
2021-01-27 19:52:11,972 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("school_details")
2021-01-27 19:52:11,974 INFO sqlalchemy.engine.base.Engine ()
2021-01-27 19:52:11,981 INFO sqlalchemy.engine.base.Engine
CREATE TABLE school_details (
	"index" BIGINT,
	"DistrictName" TEXT,
	"EstablishmentCode" TEXT,
	"EstablishmentName" TEXT,
	"BRCName" TEXT,
	"CRCName" TEXT,
	"SchoolLevel" TEXT,
	"ManagementName" TEXT,
	"LocalityHabitation" TEXT,
	"SubdivisionName" TEXT,
	"ConstituencyName" TEXT,
	"RevenueBlockName" TEXT,
	"CivicBodyName" TEXT,
	"WardName" TEXT,
	"PostOfficeName" TEXT,
	"PhoneNo" TEXT,
	"FaxNo" TEXT,
	"EmailID" TEXT,
	"Website" TEXT,
	"LocatedInRuralOrUrban" TEXT,
	"DiseCode" TEXT,
	"EstablishedDate" TEXT,
	"DistrictHQDistance (in Km)" FLOAT,
	"CRCDistance (in Km)" FLOAT,
	"BACDistance (in Km)" FLOAT,
	"IsRecognized" TEXT,
	"RecognizedBy" TEXT,
	"ContactPersonName" FLOAT,
	"LowestClass" TEXT,
	"HighestClass" TEXT,
	"BoardName" TEXT
)


2021-01-27 19:52:11,983 INFO sqlalchemy.engine.base.Engine ()
2021-01-27 19:52:12,003 INFO sqlalchemy.engine.base.Engine COMMIT
2021-01-27 19:52:12,004 INFO sqlalchemy.engine.base.Engine CREATE INDEX ix_school_details_index ON school_details ("index")
2021-01-27 19:52:12,006 INFO sqlalchemy.engine.base.Engine ()
2021-01-27 19:52:12,027 INFO sqlalchemy.engine.base.Engine COMMIT
2021-01-27 19:52:12,036 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-01-27 19:52:12,068 INFO sqlalchemy.engine.base.Engine INSERT INTO school_details ("index", "DistrictName", "EstablishmentCode", "EstablishmentName", "BRCName", "CRCName", "SchoolLevel", "ManagementName", "LocalityHabitation", "SubdivisionName", "ConstituencyName", "RevenueBlockName", "CivicBodyName", "WardName", "PostOfficeName", "PhoneNo", "FaxNo", "EmailID", "Website", "LocatedInRuralOrUrban", "DiseCode", "EstablishedDate", "DistrictHQDistance (in Km)", "CRCDistance (in Km)", "BACDistance (in Km)", "IsRecognized", "RecognizedBy", "ContactPersonName", "LowestClass", "HighestClass", "BoardName") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-01-27 19:52:12,070 INFO sqlalchemy.engine.base.Engine ((0, 'East', 'S0169', 'BUDANG GOVERNMENT PRIMARY SCHOOL (E)', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'PS', 'State Govt.', 'BUDANG', 'Gangtok', 'Rhenock', 'Central Pendam', 'Central Pendam', 'Sajong', 'Upper Pendam', None, None, None, None, 'Urban Area', None, '28126', 58.0, 8.0, 16.0, 'Recognized', 'HRDD', None, 'Class 1', 'Class 5', None), (1, 'East', 'S0099', 'CENTRAL PENDAM GOVERNMENT SENIOR SECONDARY SCHOOL', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'SSS', 'State Govt.', 'CENTRAL PENDAM', 'Gangtok', 'West Pandam', 'Central Pendam', 'Central Pendam', 'Karmithang', 'Upper Pendam', '3592263812', None, None, None, 'Urban Area', '800401', '15342', 50.0, 0.0, 6.0, 'Recognized', 'HRDD', None, 'Class 1', 'Class 12', 'C.B.S.E.'), (2, 'East', 'S0848', 'CENTRAL POINT ACADEMY, CENTRAL PENDAM', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'SS', 'Private (Unaided)', 'UPPER BHURUNG CENTRAL PENDAM', 'Gangtok', 'West Pandam', 'Central Pendam', 'Central Pendam', 'Burung', 'Upper Pendam', '03592263809/263960', None, 'ksu_5162@yahoo.com', 'www.facebook.com/khanalkeshav (Group-CPA)', 'Urban Area', None, '37257.38680555556', 49.0, 1.5, 6.0, 'Recognized', 'HRDD, GOVT. OF SIKKIM', None, 'Class 1', 'Class 10', 'C.B.S.E.'), (3, 'East', 'S0190', 'CHEURIBOTEY GOVERNMENT JUNIOR HIGH SCHOOL (E)', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'JHS', 'State Govt.', 'CHEURIBOTEY', 'Gangtok', 'West Pandam', 'Central Pendam', 'Central Pendam', 'Cheuribotey', 'Duga', None, None, None, None, 'Urban Area', None, '28856', 60.0, 6.0, 6.0, 'Recognized', 'State Govt.', None, 'Class 1', 'Class 8', None), (4, 'East', 'S0111', 'DUGA GOVERNMENT SECONDARY SCHOOL', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'SS', 'State Govt.', 'DUGA', 'Gangtok', 'West Pandam', 'Central Pendam', 'Central Pendam', 'Duga', 'Duga', '9832082915', None, 'dugaschool@gmail.com', None, 'Urban Area', None, '1828', 52.0, 0.0, 0.5, 'Recognized', 'c.b.s.e.', None, 'Class 1', 'Class 10', 'C.B.S.E.'), (5, 'East', 'S0856', 'EASWARAMMA SAI GURUKOOL ACCADEMY', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'PS', 'Private (Unaided)', 'RALUNG', 'Gangtok', 'West Pandam', 'Central Pendam', 'West Pendam', 'Ralang', 'West Pendam', '9733056624', None, None, None, 'Urban Area', None, '40179.66805555556', 0.0, 0.2, 0.2, 'Recognized', None, None, 'Class 1', 'Class 5', None), (6, 'East', 'S0870', 'ETERNAL ENGLISH SCHOOL, WEST PENDAM', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'PS', 'Private (Unaided)', 'SAKHU WEST PENDAM', 'Gangtok', 'West Pandam', 'West Pendam', 'West Pendam', 'Sakhu', 'Sakhu Busty', '9734190544', None, None, None, 'Urban Area', None, '37300.66805555556', 42.0, 3.0, 4.0, 'Recognized', 'HRDD OF SIKKIM', None, 'Class 1', 'Class 5', None), (7, 'East', 'S0157', 'KHANI GOAN GOVERNMENT PRIMARY SCHOOL', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'PS', 'State Govt.', 'WEST PENDAM', 'Gangtok', 'West Pandam', 'West Pendam', 'West Pendam', 'Khanigaon', 'West Pendam', '9832470263', None, None, None, 'Urban Area', '801801', '29587', 45.0, 5.0, 4.0, 'Recognized', 'State Govt.', None, 'Class 1', 'Class 5', 'C.B.S.E.')  ... displaying 10 of 1249 total bound parameter sets ...  (1247, 'West', 'S0340', 'TINGTING GAON GOVERNMENT PRIMARY SCHOOL', 'Yuksom Brc', 'Yuksom Government Secondary School', 'PS', 'State Govt.', 'TING TING GAON', 'Gyalshing', 'Yoksam-Tashiding', 'Yoksam', 'Yuksom', 'Tingting', 'Yuksom', '9593377402', None, None, None, 'Urban Area', '100282', '29587', 36.0, 3.0, 6.0, 'Recognized', 'STATE GOVERNMENT', None, 'Class 1', 'Class 5', None), (1248, 'West', 'S0542', 'TSONG GOVERNMENT PRIMARY SCHOOL', 'Yuksom Brc', 'Yuksom Government Secondary School', 'PS', 'State Govt.', 'TSONG', 'Gyalshing', 'Yoksam-Tashiding', 'Yoksam', 'Yuksom', 'Yoksam', 'Yuksom', None, None, None, None, 'Urban Area', None, '28176', 40.0, 7.0, 8.0, 'Recognized', 'State Government', None, 'Class 1', 'Class 5', 'C.B.S.E.'))
2021-01-27 19:52:12,093 INFO sqlalchemy.engine.base.Engine COMMIT

In [ ]:
sql = """
SELECT EstablishmentName, SchoolLevel, Website
FROM school_details
"""
df = pd.read_sql_query(sql, engine)
df.head()

2021-01-27 21:24:58,876 INFO sqlalchemy.engine.base.OptionEngine
SELECT EstablishmentName, SchoolLevel, Website
FROM school_details

2021-01-27 21:24:58,877 INFO sqlalchemy.engine.base.OptionEngine ()

                                   EstablishmentName  ...                                    Website
0               BUDANG GOVERNMENT PRIMARY SCHOOL (E)  ...                                       None
1  CENTRAL PENDAM GOVERNMENT SENIOR SECONDARY SCHOOL  ...                                       None
2              CENTRAL POINT ACADEMY, CENTRAL PENDAM  ...  www.facebook.com/khanalkeshav (Group-CPA)
3      CHEURIBOTEY GOVERNMENT JUNIOR HIGH SCHOOL (E)  ...                                       None
4                   DUGA GOVERNMENT SECONDARY SCHOOL  ...                                       None

[5 rows x 3 columns]

In [ ]:
sql = """
SELECT EstablishmentName, "DistrictHQDistance (in Km)"
FROM school_details
WHERE "DistrictHQDistance (in Km)" > 100
"""
df = pd.read_sql_query(sql, engine)
df.head()

2021-01-27 21:27:49,749 INFO sqlalchemy.engine.base.OptionEngine
SELECT EstablishmentName, "DistrictHQDistance (in Km)"
FROM school_details
WHERE "DistrictHQDistance (in Km)" > 100

2021-01-27 21:27:49,753 INFO sqlalchemy.engine.base.OptionEngine ()

                    EstablishmentName  DistrictHQDistance (in Km)
0  DODACHEN GOVERNMENT PRIMARY SCHOOL                       150.0
1   DEOLING GOVERNMENT PRIMARY SCHOOL                       107.0
2       PEMA TSEL ACADEMY(PHADAMCHEN)                       110.0
3    ZULUCK GOVERNMENT PRIMARY SCHOOL                       120.0
4   BHARENG GOVERNMENT PRIMARY SCHOOL                       150.0

In [ ]:
sql = """
SELECT EstablishmentName, SchoolLevel, "DistrictHQDistance (in Km)"
FROM school_details
WHERE SchoolLevel = 'JHS'
"""
df = pd.read_sql_query(sql, engine)
df.head()

2021-01-27 21:34:58,732 INFO sqlalchemy.engine.base.OptionEngine
SELECT EstablishmentName, SchoolLevel, "DistrictHQDistance (in Km)"
FROM school_details
WHERE SchoolLevel = 'JHS'

2021-01-27 21:34:58,734 INFO sqlalchemy.engine.base.OptionEngine ()

                               EstablishmentName  ... DistrictHQDistance (in Km)
0  CHEURIBOTEY GOVERNMENT JUNIOR HIGH SCHOOL (E)  ...                       60.0
1               PADMA KUMARI PUBLIC SCHOOL, DUGA  ...                       48.0
2           SAJONG GOVERNMENT JUNIOR HIGH SCHOOL  ...                       57.0
3      SINGLEYBONG GOVERNMENT JUNIOR HIGH SCHOOL  ...                       38.0
4                          SUNRISE ACADEMY, DUGA  ...                       47.0

[5 rows x 3 columns]

In [ ]:
sql = """
SELECT EstablishmentName, SchoolLevel, "DistrictHQDistance (in Km)"
FROM school_details
WHERE EstablishmentName LIKE '%JUNIOR HIGH%'
"""
df = pd.read_sql_query(sql, engine)
df.head()

2021-01-27 21:34:54,741 INFO sqlalchemy.engine.base.OptionEngine
SELECT EstablishmentName, SchoolLevel, "DistrictHQDistance (in Km)"
FROM school_details
WHERE EstablishmentName LIKE '%JUNIOR HIGH%'

2021-01-27 21:34:54,742 INFO sqlalchemy.engine.base.OptionEngine ()

                               EstablishmentName  ... DistrictHQDistance (in Km)
0  CHEURIBOTEY GOVERNMENT JUNIOR HIGH SCHOOL (E)  ...                       60.0
1           SAJONG GOVERNMENT JUNIOR HIGH SCHOOL  ...                       57.0
2      SINGLEYBONG GOVERNMENT JUNIOR HIGH SCHOOL  ...                       38.0
3          BORDANG GOVERNMENT JUNIOR HIGH SCHOOL  ...                       33.0
4     RANGPO BAZAR GOVERNMENT JUNIOR HIGH SCHOOL  ...                       47.0

[5 rows x 3 columns]

In [ ]:
sql = """
SELECT EstablishmentName, SchoolLevel, "DistrictHQDistance (in Km)"
FROM school_details
WHERE EstablishmentName LIKE 'C%'
ORDER BY EstablishmentName
LIMIT 10
"""
df = pd.read_sql_query(sql, engine)
df.head()

2021-01-27 21:34:50,066 INFO sqlalchemy.engine.base.OptionEngine
SELECT EstablishmentName, SchoolLevel, "DistrictHQDistance (in Km)"
FROM school_details
WHERE EstablishmentName LIKE 'C%'
ORDER BY EstablishmentName
LIMIT 10

2021-01-27 21:34:50,068 INFO sqlalchemy.engine.base.OptionEngine ()

                             EstablishmentName  ... DistrictHQDistance (in Km)
0  C.M.RAI GOVERNMENT SECONDARY SCHOOL (OMCHU)  ...                       26.0
1                      CANAAN SCHOOL, RANIPOOL  ...                        0.0
2                  CANARY BIRD ACADEMY, KARTOK  ...                       38.0
3          CAROL ACADEMY, YANGSUM UPPER BERFOK  ...                       50.0
4      CENTRAL MARTAM GOVERNMENT JUNIOR SCHOOL  ...                       50.0

[5 rows x 3 columns]

In [ ]:
sql = """
SELECT EstablishmentName
FROM school_details
WHERE LocatedInRuralOrUrban LIKE 'Urban%'
ORDER BY EstablishmentName DESC
"""
df = pd.read_sql_query(sql, engine)
df.head()

2021-01-27 21:37:17,518 INFO sqlalchemy.engine.base.OptionEngine
SELECT EstablishmentName
FROM school_details
WHERE LocatedInRuralOrUrban LIKE 'Urban%'
ORDER BY EstablishmentName DESC

2021-01-27 21:37:17,519 INFO sqlalchemy.engine.base.OptionEngine ()

                       EstablishmentName
0       ZULUCK GOVERNMENT PRIMARY SCHOOL
1       ZOOM GOVERNMENT SECONDARY SCHOOL
2  ZITLANG GOVERNMENT JUNIOR HIGH SCHOOL
3       ZINGLA GOVERNMENT PRIMARY SCHOOL
4                   ZENITH PUBLIC SCHOOL

In [ ]:
sql = """
SELECT EstablishmentName AS 'name'
FROM school_details
WHERE LocatedInRuralOrUrban LIKE 'Urban%'
ORDER BY EstablishmentName DESC
"""
df = pd.read_sql_query(sql, engine)
df.head()

2021-01-27 21:39:16,359 INFO sqlalchemy.engine.base.OptionEngine
SELECT EstablishmentName AS 'name'
FROM school_details
WHERE LocatedInRuralOrUrban LIKE 'Urban%'
ORDER BY EstablishmentName DESC

2021-01-27 21:39:16,360 INFO sqlalchemy.engine.base.OptionEngine ()

                                    name
0       ZULUCK GOVERNMENT PRIMARY SCHOOL
1       ZOOM GOVERNMENT SECONDARY SCHOOL
2  ZITLANG GOVERNMENT JUNIOR HIGH SCHOOL
3       ZINGLA GOVERNMENT PRIMARY SCHOOL
4                   ZENITH PUBLIC SCHOOL